@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  font-family: "Rajdhani", sans-serif; }

html,
body {
  width: 100%;
  overflow-x: hidden; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* BODY  */
body {
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px; }

a:hover {
  color: white; }

a {
  color: black; }

/* HEADER  */
header {
  position: relative;
  padding: 1rem;
  background-color: #b4b4b4;
  width: 100%; }
  header .header-div {
    display: flex;
    justify-content: space-between; }
    header .header-div .header-img {
      width: 25%; }
      header .header-div .header-img img {
        width: 100%; }
    header .header-div .phone-number {
      align-self: flex-end; }

nav {
  display: flex;
  justify-content: space-between; }
  nav .nav-div {
    width: 50%; }
  nav .search-box {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 50%;
    margin: 0;
    padding: 0.25rem; }
    nav .search-box input {
      height: 2rem;
      width: 100%; }
    nav .search-box .search-icon {
      background-color: white;
      height: 1.9rem;
      align-self: center; }
      nav .search-box .search-icon i {
        text-align: center;
        padding: 0.5rem; }

.your-class {
  width: 100%; }
  .your-class img {
    width: 100%; }

.blog {
  margin-bottom: 1rem; }
  .blog h1 {
    margin: 1rem; }
  .blog .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .blog .articles a {
      text-decoration: none;
      opacity: 75%; }
    .blog .articles a:hover {
      opacity: 100%; }
    .blog .articles .ind-article1 {
      background-image: url(../images/blog1.jpg);
      background-position: center;
      width: 150px;
      height: 150px;
      margin: 1rem;
      display: flex;
      flex-wrap: wrap; }
      .blog .articles .ind-article1 .article-title {
        align-self: flex-start;
        justify-self: center;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25); }
      .blog .articles .ind-article1 .article-date {
        align-self: flex-end;
        justify-self: center;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25); }
      .blog .articles .ind-article1 h3 {
        padding: .25rem; }
    .blog .articles .ind-article2 {
      background-image: url(../images/blog2.jpg);
      background-position: center;
      width: 150px;
      height: 150px;
      margin: 1rem;
      display: flex;
      flex-wrap: wrap; }
      .blog .articles .ind-article2 .article-title {
        align-self: flex-start;
        justify-self: center;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25); }
      .blog .articles .ind-article2 .article-date {
        align-self: flex-end;
        justify-self: center;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25); }
      .blog .articles .ind-article2 h3 {
        padding: .25rem; }
    .blog .articles .ind-article3 {
      background-image: url(../images/blog3.jpg);
      background-position: center;
      width: 150px;
      height: 150px;
      margin: 1rem;
      display: flex;
      flex-wrap: wrap; }
      .blog .articles .ind-article3 .article-title {
        align-self: flex-start;
        justify-self: center;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25); }
      .blog .articles .ind-article3 .article-date {
        align-self: flex-end;
        justify-self: center;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25); }
      .blog .articles .ind-article3 h3 {
        padding: .25rem; }
    .blog .articles .ind-article4 {
      background-image: url(../images/blog4.jpg);
      background-position: center;
      width: 150px;
      height: 150px;
      margin: 1rem;
      display: flex;
      flex-wrap: wrap; }
      .blog .articles .ind-article4 .article-title {
        align-self: flex-start;
        justify-self: center;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25); }
      .blog .articles .ind-article4 .article-date {
        align-self: flex-end;
        justify-self: center;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25); }
      .blog .articles .ind-article4 h3 {
        padding: .25rem; }

#footerWrapper {
  background-color: #b4b4b4; }
  #footerWrapper .footer-div {
    padding: 1rem; }
  #footerWrapper .copyright {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem; }
    #footerWrapper .copyright a {
      color: white; }
    #footerWrapper .copyright .social {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 1rem; }
      #footerWrapper .copyright .social i {
        font-size: 2rem; }
      #footerWrapper .copyright .social i:hover {
        color: #00f7ff; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#hamburgerBtn {
  display: none; }

/* hide the navigation button by default */
#primaryNav li.current-menu-item a {
  background-color: rgba(0, 0, 0, 0.2); }

#primaryNav li.current-menu-parent {
  background-color: rgba(0, 0, 0, 0.2); }

@media only screen and (max-width: 63.9375em) {
  /* Navigation Button  -------------------------------------------------------- */
  body {
    padding-top: 44px; }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    background-color: black;
    /* change the menu color */
    z-index: 99; }

  #hamburgerBtn {
    background: none;
    border: none;
    display: inline-block;
    position: relative;
    height: 44px;
    width: 44px;
    cursor: pointer; }
    #hamburgerBtn .line {
      position: absolute;
      height: 2px;
      width: 60%;
      background: white;
      border-radius: 2px;
      transition: all cubic-bezier(0.2, 0.1, 0.2, 1.2) 0.3s; }
    #hamburgerBtn .top, #hamburgerBtn .middle, #hamburgerBtn .bottom {
      left: 20%; }
    #hamburgerBtn .top {
      top: 29%; }
    #hamburgerBtn .middle {
      top: 48%; }
    #hamburgerBtn .bottom {
      top: 67%; }

  #hamburgerBtn.open .top {
    transform: rotate(45deg);
    top: 48%; }
  #hamburgerBtn.open .middle, #hamburgerBtn.open .bottom {
    transform: rotate(-45deg);
    top: 48%; }

  /* Navigation Bar -------------------------------------------------------- */
  #primaryNav {
    height: 0;
    overflow: hidden;
    width: 20rem;
    background-color: black;
    /* change the menu color */
    margin: 0;
    padding: 0;
    z-index: 998;
    font-family: Verdana;
    font-weight: normal; }

  #primaryNav li a {
    display: block;
    width: 100%;
    padding: .75rem 2%;
    font-size: 1rem;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2); }

  #primaryNav li a:hover {
    background-color: rgba(0, 0, 0, 0.5); }

  /* Toggle the navigation bar to expand down  */
  #primaryNav.open {
    height: auto; }

  /* Submenus – optional ."menu-item-has-children" class indicates dropdowns */
  #primaryNav > li:hover > a {
    background: rgba(0, 0, 0, 0.5); }

  #primaryNav li.menu-item-has-children > a:after {
    font-size: .75rem;
    content: "\25BC";
    color: rgba(255, 255, 255, 0.5);
    float: right; }

  #primaryNav li.menu-item-has-children ul li {
    background-color: black; }

  #primaryNav li.menu-item-has-children > a:hover {
    background: rgba(0, 0, 0, 0.75); }

  /*hide the sub menu items by default*/
  #primaryNav li ul {
    display: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 0; }

  #primaryNav li ul a {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    padding: 10px 5%;
    font-weight: normal; }

  #primaryNav li:hover ul {
    display: block; } }
/* End Mobile Styles */
@media only screen and (min-width: 35em) {
  header {
    position: relative;
    padding: 1rem;
    background-color: #b4b4b4;
    width: 100%; }
    header .header-div {
      display: flex;
      justify-content: space-between; }
      header .header-div .header-img {
        width: 15%; }
        header .header-div .header-img img {
          width: 100%; }
      header .header-div .phone-number {
        align-self: flex-end; }

  .ind-article {
    width: 33%; }

  header .header-div .phone-number {
    font-size: 1.5rem; }

  nav .search-box {
    width: 25%;
    margin-left: 15rem; }

  .blog h1 {
    margin: 1rem;
    font-size: 2rem; }
  .blog .articles .ind-article {
    background-image: url(../images/card1.jpg);
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap; }

  #footerWrapper .footer-sections {
    display: flex;
    flex-wrap: wrap; }
    #footerWrapper .footer-sections .footer-div {
      padding: 1rem;
      width: 50%; }
  #footerWrapper .copyright .social {
    margin: 1rem auto;
    width: 50%; } }
@media only screen and (min-width: 64em) {
  nav,
  main,
  footer {
    max-width: 75rem;
    margin: 0 auto; }

  .header-div {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem; }

  /* NAVigation  */
  nav {
    background-color: black; }
    nav ul {
      margin-left: 2%; }
    nav ul li {
      float: left; }
    nav ul li a {
      display: block;
      border: none;
      width: 100%;
      background: none;
      font-size: 0.9rem;
      padding: 0.9rem 1.2rem;
      color: white;
      text-decoration: none;
      /*transition*/
      -webkit-transition: background 0.3s linear;
      transition: background 0.3s linear; }
    nav ul li a:hover {
      background: black; }
    nav #primaryNav li.menu-item-has-children > a:after {
      font-size: 0.75rem;
      content: "\00A0\00A0\25BC";
      color: rgba(255, 255, 255, 0.5); }
    nav ul li ul {
      /*rules for the sub menu items*/
      z-index: 99;
      position: absolute;
      background-color: #1a1a1a;
      left: -999rem;
      /* pushes the menu way off to the side */
      width: 10rem; }
    nav ul li ul li {
      /* overides the float and line from the parent ul */
      float: none;
      border-right: none;
      border-top: solid 1px rgba(0, 0, 0, 0.2); }
    nav ul li:hover ul {
      /* this displays the menus as drop downs  */
      left: auto;
      margin-left: 0; }

  #footerWrapper .footer-sections .footer-div {
    width: 33%; }
  #footerWrapper .copyright .social {
    width: 30%; } }

/*# sourceMappingURL=styles.css.map */
