header {
  position: relative;
  padding: 1rem;
  background-color: rgb(180, 180, 180);
  width: 100%;
  .header-div {
    display: flex;
    justify-content: space-between;
    .header-img {
      width: 15%;
      img {
        width: 100%;
      }
    }
    .phone-number {
      align-self: flex-end;
    }
  }
}

.ind-article {
  width: 33%;
}

header {
  .header-div {
    .phone-number {
      font-size: 1.5rem;
    }
  }
}

nav {
  .search-box {
    width: 25%;
    margin-left: 15rem;
  }
}

.blog {
  h1 {
    margin: 1rem;
    font-size: 2rem;
  }
  .articles {
    .ind-article {
      background-image: url(../images/card1.jpg);
      background-position: center;
      width: 200px;
      height: 200px;
      margin: 1rem;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

#footerWrapper {
  .footer-sections {
	  display: flex;
	  flex-wrap: wrap;
    .footer-div {
	  padding: 1rem;
	  width: 50%;
    }
  }
  .copyright {
	.social {
	  margin: 1rem auto;
	  width: 50%;
	}
  }
}


