* {
  font-family: $defaultFont;
}

html,
body{
  width:100%;
  overflow-x:hidden;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $normalWeight;
  min-width: 320px;
}



/* HEADER  */

header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(180, 180, 180);
    width: 100%;
    a:hover {
      color: white;
    }
    a {
      color: black;
    }
} // end header




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


// Nav
nav {
  display: flex;
  justify-content: space-between;
  .nav-div {
  width: 50%;
  }
  .search-box {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 50%;
  margin: 0;
  padding: .25rem;
  input {
  height: 2rem;
  width: 100%;
  }
  .search-icon {
  background-color: white;
  height: 1.9rem;
  align-self: center;
  i {
    text-align: center;
    padding: .5rem;
  }
  }
  }
}







